<nav role="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% block brand %}
        <a class="navbar-brand" href="#">Navbar</a>
    {% endblock brand %}

    {% block toggle %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    {% endblock toggle %}

    {% block menu_container %}
        <div id="navbarToggler" class="collapse navbar-collapse navbar-responsive-collapse">
            {% block menu %}{% endblock %}
        </div>
    {% endblock menu_container %}
</nav>