{% extends "::layout.html.twig" %}

{% block headline %}
    Add teacher
{% endblock %}

{% block content %}
<div class="col-lg-9">
    {{ form_start(form, {'action': path('mayimbe_teacher_add')}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}