// variables
$icon-font-path: "../../fonts/bootstrap/" !default;

// Main bootstrap.sass entry point
@import "~bootstrap/scss/bootstrap";

// Bootstrap overrides, such as the asset-url(..) function.
//@import "theme";

// The Paginator less for MopaBootstrapBundle
//@import "paginator.scss";

// Collection support for MopaBootstrapBundle
//@import "collections.scss";

// FormFlow support for MopaBootstrapBundle
//@import "form_flow.scss";

body {
    padding-top: 0px;
    padding-bottom: 40px;
    background-color: #eee;
}

.label,.glyphicon { margin-right:5px; }

.dl-horizontal dt {
    text-align: left;
}